 *{
    margin:0;
    padding:20px auto;
 }
 #shanto{
    width:500px;
    height:500px;
     padding:20px;
    text-align:right;
    
     
 }
 .kausar{
    font-family: "Oswald", sans-serif;
    font-style: oblique;
    color:white;
    border-radius:9px;
    cursor:pointer;
    margin-top:30px;
    font-weight:bolder;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    border:2px solid wheat;
    background: linear-gradient(45deg,red,orange,blue,green);
    text-align:right;
    margin-top:300px;
     
 }
 #background-image{
   clip-path: polygon(35% 0, 100% 0, 100% 35%, 100% 35%, 100% 100%, 51% 100%, 27% 100%, 0 63%, 0% 35%, 0 0);
    background-image:url(https://img.freepik.com/premium-photo/3d-illustration-crochets-doll-employee-figures-working-front-computer-with-office-room_565941-5404.jpg?w=826);
    max-width:1100px;
    height:400px;
    background-repeat: no-repeat;
    background-size:cover;
    margin:30px 50px;
    padding-top:20px;
    text-align:center;
    color:tomato;
    background-image:linear-gradient(45deg,#fff);
 
 } 
  .kausar{
   text-align:right;
  }